# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [14]:
import pandas as pd
import numpy as np

In [15]:
countries=["Taiwan","China","Japan"]
populations=np.random.randint(150000000,size=3)

In [16]:
data={}

In [17]:
data['國家']=countries
data['人口']=populations

In [18]:
data = pd.DataFrame(data)

In [19]:
data

       國家         人口
0  Taiwan  121624198
1   China  135273800
2   Japan  122703186

In [20]:
data.set_index("國家",inplace=True)

In [21]:
data

               人口
國家
Taiwan  121624198
China   135273800
Japan   122703186

In [22]:
data["人口"].idxmax()

'China'